web/node_modules
web/public/generated
web/logs
agent/stats*
*.rdb
*.aof
*.DS_Store
bulkendpoint/endpoint/node_modules
bulkendpoint/endpoint/tmp/*
ingester/node_modules/
ingester/tmp/*
ingester/node_modules/
